
backend/node_modules/
backend/.env
backend/dist

myapp/node_modules/
myapp/.expo/
myapp/npm-debug.*
myapp/*.jks
myapp/*.p8
myapp/*.p12
myapp/*.key
myapp/*.mobileprovision
myapp/*.orig.*
myapp/web-build/

# macOS
myapp/.DS_Store
